.componentShadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0 0 2px 0, rgba(0, 0, 0, 0.06) 0 8px 12px -4px;
  border-radius: 16px;
  padding: 24px;
}

.gradient {
  background: linear-gradient(180deg,
          rgb(0, 0, 0) 15%,
          rgba(0, 0, 0, 0.33) 99%);
}